@media only screen and (max-width:767px) {
    .header_search{
        display: none;
    }
    .main-header{
        display: flex;
        padding: 20px 0;
        margin: 0 !important;
    }
    .main-header .logo{
        max-height: 50px;
        max-width: 160px;
    }
    .header_icon a .tab_search{
        display: none;
    }
    .nav{
        display: none !important;
    }
}