@media only screen and (max-width:767px) {
    .header_search{
        display: none;
    }
    .main-header{
        display: flex;
        padding: 20px 0;
        margin: 0 !important;
    }
    .main-header .logo{
        max-height: 50px;
        max-width: 160px;
    }
    .header_icon a .tab_search{
        display: none;
    }
    .nav{
        display: none !important;
    }
    .mobilde_header_search{
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        display: block !important;
    }

    .mobilde_header_search input{
        height: 40px;
        width: 100%;
        font-size: 14px;
        color: black;
        border: none;
        background-color: whitesmoke;
        outline: none;
       
    }
    .mobilde_header_search:hover{
        outline: none;
    }
    .mobilde_header_search .btn{
        height: 40px;
        width: 40px;
        border: none;
        background-color: whitesmoke;
        position: absolute;
        top: 0;
        right: 0px;
        font-size: 18px;
    }
    .form_search{
        width: 80vw !important;
        padding: 20px 30px 20px 30px !important;
    }
    .item{
        float: right;
    }
    .mobile_nav_icon{
        display: block !important;
    }
    .mobile_nav{ 
        background: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 7777;
        opacity: 1;
        visibility: visible;
        display: none;
        
    }
}